<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typing Speed Test</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>Typing Speed Test</h1>

<div id="test-area">
    <div class="text-to-type">{{ text }}</div>

    <form action="/" method="POST">
        <textarea name="typed_text" id="typingArea" placeholder="Start typing here..." required></textarea>
        <input type="hidden" name="original_text" value="{{ text }}">
        <input type="hidden" name="start_time" value="{{ start_time }}">

         <div class="button">
        <button type="submit">Submit</button>
        
        <button onclick="window.location.href='/restart'">Restart</button>
        <button onclick="window.location.href='/change-text'">Change Text</button>
    </div>
    </form>

    

    
    <div id="best-time">
        <p><strong>Best Score (WPM):</strong> {{ best_score }}</p>
    </div>
</div>

{% if wpm %}
    <div id="results">
        <p><strong>Words Per Minute (WPM):</strong> {{ wpm }}</p>
        <p><strong>Accuracy:</strong> {{ accuracy }}%</p>
        <p><strong>Total Time:</strong> {{ total_time }} seconds</p>
    </div>
{% endif %}

</body>
</html>
